<div class="row max-height">
    <div class="gradient col-sm-8">
        <div class="row">
            <div id='instagram-area' class="col-sm-4">
                <span class="close cursor" onclick="">&rarr;&larr;</span>
                <img src="/images/Instagram_logo.png"
                alt="instagram" style="height: 50px">
                <div class="row search-area">
                    <div class="col-11" style="padding: 0">
                        <input type="text" class="form-control" id="place_input" placeholder="Search..." tabindex="1">
                    </div>
                    <div class="col-1" style="padding-left: 0">
                        <button type="button" class="btn btn-danger" id="geolocation">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <hr/>
                <div id="place-checking-contain" class="row">
                    <table id="table-checking" class="table table-hover">
                        <tbody id="table-body" class="list_location">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="media" class="col-sm-8">
                <ul id="list-media">

                </ul>
            </div>
        </div>
    </div>
    <div id='map' class="col-sm-4">

    </div>
    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <div class="user-infor" align="center">
                <img src="/images/loading-profile-image.jpg"
                     alt="user-profile-picture" class="circle-img">
                <p class="user-name">//user information</p>
            </div>
            <div class="caption-text">
                <span>//caption</span>
            </div>

            <div id="myMedia" class="mySlides">
                <img class="img-large" src="/images/loading-image.jpg"
                alt="image">
            </div>

            <!--<a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
            <!--<a class="next" onclick="plusSlides(1)">&#10095;</a>-->

        </div>
    </div>
</div>
