/*task*/
html, body {
  /*padding: 50px;*/
  height: 100%;
  margin: 0;
  padding: 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
}
li {
  float: left;
}
/* Change the link color on hover */


a {
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: none;
}

/*class*/
.instagram-area-container{
  height: 100%;
}
.gradient{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #f9ed32, #ee2a7b,#002aff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #f9ed32, #ee2a7b,#002aff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #f9ed32, #ee2a7b,#002aff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #f9ed32, #ee2a7b,#002aff); /* Standard syntax */
}
.max-height{
  height:100%;
  margin-left: 0;
  margin-right: 0;
}
.instagram-area{
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
}
.search-area{
  padding-right: 5px;
}
.center{
  float: none;
  align-content: center;
}
.media{
  display: block;
  padding: 5px;
}
li.media :hover {
  opacity: 0.5;
}
/*id*/
#map{
  height: 100%;
}
#place-checking-contain{
  overflow: auto;
  background: rgba(255, 181, 186, 0.2);
  height: 300px;
}
#media{
  overflow: auto;
  height: 170px;
}
#list-media{

}

/*other*/
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  padding-top: 40px;
}

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  background: rgb(208, 124, 186);
  border-radius: 10px;

}
::-webkit-scrollbar-thumb{
  border-radius:10px;
  height: 30px;
  width: 8px;
  background: rgb(111,111,111);
  background: -webkit-linear-gradient(#ee2a7b,#002aff);
}

::-webkit-scrollbar-track-piece {
  height: 30px;
  width: 30px;
}
/* light room*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  text-align: center; display: block;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.img-large{
  margin-bottom: 10px;
  max-width: 1200px;
  max-height: 700px;
}

.user-infor{
  text-align: center;
}
.user-name{
  padding-top:5px;
  font: bold 15px arial, sans-serif;
}
.caption-text {
  text-align: center;
  padding: 10px 16px;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.circle-img{
  width:100px;
  height:100px;
  padding-top: 5px;
  border-radius:50%;
  background-position-y:25%
}
