html, body {
  /*padding: 50px;*/
  height: 100%;
  margin: 0;
  padding: 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.user-area-contain{
  height: 100%;
}
.gradient{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #f9ed32, #ee2a7b,#002aff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #f9ed32, #ee2a7b,#002aff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #f9ed32, #ee2a7b,#002aff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #f9ed32, #ee2a7b,#002aff); /* Standard syntax */
}
.max-height{
  height:100%;
  margin-left: 0;
  margin-right: 0;
}
.user-area{
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
}
.search-area{
  padding-bottom: 5px;
  padding-right: 5px;
}
.center{
  float: none;
  align-content: center;
}
#map{
  height: 100%;
}
#place-checking-contain{
  overflow: auto;
  background: rgba(255, 181, 186, 0.2);
  height: 450px;
}

::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  padding-top: 40px;
}

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  background: rgb(208, 124, 186);
  border-radius: 10px;

}
::-webkit-scrollbar-thumb{
  border-radius:10px;
  height: 30px;
  width: 8px;
  background: rgb(111,111,111);
  background: -webkit-linear-gradient(#ee2a7b,#002aff);
}

::-webkit-scrollbar-track-piece {
  height: 30px;
  width: 30px;
}
